{%  extends 'base.html' %}


{% block content %}


    <div class="page">
        <div class="container">
            <!--menu-->
            <div class="row">
                <!--colleft-->
                <div class="col-md-8 col-sm-12">
                                {% for published_article  in published_articles %}

                                                <!--list-news-cate-->
                                                <div class="list-news-cate">
                                                    <article class="news-cate-item ">
                                                        <div class="row">
                                                            <div class="col-md-5 col-sm-5 col-xs-12">
                                                                <a href="#">
                                                                    <img alt="" src="{{ published_article.thumbail.url }}">
                                                                </a>
                                                            </div>
                                                            <div class="col-md-7 col-sm-7 col-xs-12">
                                                                <h3><a href="#">{{ published_article.title|safe }}</a></h3>
                                                                <div class="meta-post">
                                                                </div>
                                                                <p>{{ published_article.content|truncatewords:24|safe }}</p>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                {% endfor %}
                    <!--paging-->

                </div>

                <!--colright-->
                <div class="col-md-4 col-sm-12">
                    <!--tab popular-->
                    <ul role="tablist" class="tab-popular">
                        <li class="active">
                            <a href="#tab1" role="tab" data-toggle="tab">
                            ALERTE
                                </a>
                        </li>


                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab1">
                            <ul class="list-news-popular">
                                {% for un in unes %}
                                <li>
                                    <a href="#">
                                        <img alt="" src="{{ un.thumbail.url }}">
                                    </a>
                                    <h3><a href="#">{{ un.title }}</a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            {{ un.author }}

                                        </a>
                                        <em></em>
                                        <span>
                                           {{ un.date_published }}
                                        </span>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>


                    <!-- special post-->
                    <div class="connect-us">
                        <div class="widget-title">
                            <span>
                                Mention Spéciale
                            </span>
                        </div>
                        <div class="list-special">
                            {% for special in is_special%}
                            <article class="news-two-large">
                                <a href="#">
                                    <img alt="" src="{{ special.thumbail.url }}">
                                </a>
                                <h3><a href="#">{{ special.title }}</a></h3>
                                <div class="meta-post">
                                    <a href="#">
                                        {{ special.author}}
                                    </a>
                                    <em></em>
                                    <span>
                                      {{ special.date_published }}
                                    </span>
                                </div>

                            </article>
                            {% endfor %}
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--footer-->
    </div>



{% endblock %}